Repository Open-Agriculture/AgIsoStack-plus-plus, pull requests merged in 2023-12, with the labels that each got.

#364 [Meta]: Doxygen fixes
  isobus/include/isobus/isobus/isobus_virtual_terminal_objects.hpp
Labels: documentation

#368 [DDOP]: Add an ISO XML DDOP serializer
  isobus/include/isobus/isobus/isobus_device_descriptor_object_pool.hpp
  isobus/src/isobus_device_descriptor_object_pool.cpp
  test/ddop_tests.cpp
Labels: enhancement, iso: task controller

#370 [Meta]: Add .readthedocs.yaml
  .readthedocs.yaml
  sphinx/requirements.txt
  sphinx/source/conf.py
Labels: bug, documentation

#365 [HW]: Add support for SYS TEC USB CAN Modules
  examples/diagnostic_protocol/main.cpp
  examples/guidance/main.cpp
  examples/nmea2000/fast_packet_protocol/main.cpp
  examples/nmea2000/nmea2000_generator/main.cpp
  examples/nmea2000/nmea2000_parser/main.cpp
  examples/pgn_requests/main.cpp
  examples/task_controller_client/main.cpp
  examples/transport_layer/main.cpp
  examples/virtual_terminal/aux_functions/main.cpp
  examples/virtual_terminal/aux_inputs/main.cpp
  examples/virtual_terminal/version3_object_pool/main.cpp
  hardware_integration/CMakeLists.txt
  hardware_integration/include/isobus/hardware_integration/UsbCanLs.h
  hardware_integration/include/isobus/hardware_integration/UsbCanUp.h
  hardware_integration/include/isobus/hardware_integration/Usbcan32.h
  hardware_integration/include/isobus/hardware_integration/available_can_drivers.hpp
  hardware_integration/include/isobus/hardware_integration/sys_tec_windows_plugin.hpp
  hardware_integration/lib/Windows/USBCAN32.lib
  hardware_integration/lib/Windows/USBCAN64.lib
  hardware_integration/src/sys_tec_windows_plugin.cpp
  sphinx/source/Tutorials/Virtual Terminal Basics.rst
Labels: enhancement, os: windows

#371 [VT]: Add command queue
  isobus/include/isobus/isobus/isobus_virtual_terminal_client.hpp
  isobus/src/isobus_virtual_terminal_client.cpp
  test/vt_client_tests.cpp
Labels: enhancement, iso: virtual terminal

#366 [VT]: Add VT objects for Aux inputs and Aux functions
  isobus/include/isobus/isobus/isobus_virtual_terminal_objects.hpp
  isobus/src/isobus_virtual_terminal_objects.cpp
  test/vt_object_tests.cpp
Labels: enhancement, iso: virtual terminal

#383 [VT]: Add VT Event enum and a way to associate macros with VT objects
  isobus/include/isobus/isobus/isobus_virtual_terminal_objects.hpp
  isobus/src/isobus_virtual_terminal_objects.cpp
Labels: enhancement, iso: virtual terminal

#385 [Meta]: Force sonar's C++ version to 11
  sonar-project.properties
Labels: ci/build system

#387 Remove implicit conversion for identifier priority
  examples/nmea2000/fast_packet_protocol/main.cpp
  hardware_integration/include/isobus/hardware_integration/virtual_can_plugin.hpp
  hardware_integration/src/virtual_can_plugin.cpp
  isobus/include/isobus/isobus/can_identifier.hpp
  isobus/include/isobus/isobus/can_message.hpp
  isobus/src/can_identifier.cpp
  isobus/src/can_message.cpp
  isobus/src/can_network_manager.cpp
  isobus/src/isobus_guidance_interface.cpp
  isobus/src/isobus_shortcut_button_interface.cpp
  isobus/src/isobus_speed_distance_messages.cpp
  isobus/src/isobus_virtual_terminal_client.cpp
  isobus/src/nmea2000_message_interface.cpp
  sphinx/source/Tutorials/Transport Layer.rst
  test/diagnostic_protocol_tests.cpp
  test/language_command_interface_tests.cpp
  test/vt_client_tests.cpp
Labels: bug

#380 [VT] Wait on response before processing next command
  isobus/include/isobus/isobus/isobus_virtual_terminal_client.hpp
  isobus/src/isobus_virtual_terminal_client.cpp
  test/vt_client_tests.cpp
Labels: iso: virtual terminal

#388 Add activation message responses
  isobus/include/isobus/isobus/isobus_virtual_terminal_client.hpp
  isobus/src/isobus_virtual_terminal_client.cpp
Labels: enhancement, iso: virtual terminal

#390 Update Virtual Terminal Basics.rst
  sphinx/source/Tutorials/Virtual Terminal Basics.rst
Labels: documentation

#393 [HW]: Allow reconfiguring the TouCAN plugin at runtime
  hardware_integration/include/isobus/hardware_integration/toucan_vscp_canal.hpp
  hardware_integration/src/toucan_vscp_canal.cpp
Labels: enhancement, os: windows

#395 [HW]: Allow changing socket CAN name at runtime
  hardware_integration/include/isobus/hardware_integration/socket_can_interface.hpp
  hardware_integration/src/socket_can_interface.cpp
Labels: os: linux

#399 Allow macro object command packets to be > 8 bytes
  isobus/include/isobus/isobus/isobus_virtual_terminal_objects.hpp
  isobus/src/isobus_virtual_terminal_objects.cpp
  test/vt_object_tests.cpp
Labels: iso: virtual terminal
