Repository Open-Agriculture/AgIsoStack-plus-plus, pull requests merged in 2024-12, with the labels that each got.

#512 Use proprietary colors used by Jetter IsoDesigner instead of just white
  isobus/src/isobus_virtual_terminal_objects.cpp
Labels: iso: virtual terminal

#504 NTCAN hardware plugin
  examples/transport_layer/main.cpp
  hardware_integration/CMakeLists.txt
  hardware_integration/include/isobus/hardware_integration/available_can_drivers.hpp
  hardware_integration/include/isobus/hardware_integration/ntcan_plugin.hpp
  hardware_integration/src/ntcan_plugin.cpp
  sphinx/source/api/hardware/index.rst
Labels: enhancement, os: windows

#520 [CI]: Allow for newer gcovr in builds
  .github/workflows/build.yml
Labels: ci/build system

#519 [HW]: Add missing header
  hardware_integration/include/isobus/hardware_integration/vector_asc_logger.hpp
Labels: bug
