Repository Open-Agriculture/AgIsoStack-plus-plus, pull requests merged in 2024-02, with the labels that each got.

#425 [VT] add attribute tracking and updating helper
  examples/diagnostic_protocol/main.cpp
  examples/guidance/main.cpp
  examples/nmea2000/nmea2000_parser/main.cpp
  examples/virtual_terminal/aux_functions/main.cpp
  examples/virtual_terminal/aux_inputs/main.cpp
  examples/virtual_terminal/esp32_platformio_object_pool/src/main.cpp
  examples/virtual_terminal/version3_object_pool/main.cpp
  hardware_integration/src/can_hardware_interface.cpp
  isobus/include/isobus/isobus/can_network_manager.hpp
  isobus/include/isobus/isobus/isobus_diagnostic_protocol.hpp
  isobus/include/isobus/isobus/isobus_virtual_terminal_client.hpp
  isobus/include/isobus/isobus/isobus_virtual_terminal_client_state_tracker.hpp
  isobus/include/isobus/isobus/isobus_virtual_terminal_client_update_helper.hpp
  isobus/src/can_network_manager.cpp
  isobus/src/isobus_diagnostic_protocol.cpp
  isobus/src/isobus_virtual_terminal_client.cpp
  isobus/src/isobus_virtual_terminal_client_state_tracker.cpp
  isobus/src/isobus_virtual_terminal_client_update_helper.cpp
  test/cf_functionalities_tests.cpp
  test/event_dispatcher_tests.cpp
  test/guidance_tests.cpp
  test/hardware_interface_tests.cpp
  test/isb_tests.cpp
  test/language_command_interface_tests.cpp
  test/maintain_power_tests.cpp
  test/nmea2000_message_tests.cpp
  test/speed_distance_message_tests.cpp
  test/tc_client_tests.cpp
  test/vt_client_tests.cpp
  utility/CMakeLists.txt
  utility/include/isobus/utility/event_dispatcher.hpp
  utility/include/isobus/utility/thread_synchronization.hpp
Labels: iso: virtual terminal

#433 [Examples]: Changed examples that use TC client to have a more specific NAME filter
  examples/seeder_example/seeder.cpp
  examples/task_controller_client/main.cpp
Labels: iso: task controller, examples

#435 [Docs] module import fix and inconsistencies hello-world tutorial
  sphinx/source/Tutorials/The ISOBUS Hello World.rst
Labels: documentation

#438 [Docs]: Fix a dead link in ISOBUS hello world docs
  sphinx/source/Tutorials/The ISOBUS Hello World.rst
Labels: documentation

#437 Rework of NMEA2000 fast packet protocol to match TP/ETP
  examples/nmea2000/fast_packet_protocol/main.cpp
  isobus/CMakeLists.txt
  isobus/include/isobus/isobus/can_callbacks.hpp
  isobus/include/isobus/isobus/can_network_manager.hpp
  isobus/include/isobus/isobus/can_protocol.hpp
  isobus/include/isobus/isobus/can_transport_protocol.hpp
  isobus/include/isobus/isobus/isobus_diagnostic_protocol.hpp
  isobus/include/isobus/isobus/isobus_functionalities.hpp
  isobus/include/isobus/isobus/isobus_shortcut_button_interface.hpp
  isobus/include/isobus/isobus/nmea2000_fast_packet_protocol.hpp
  isobus/src/can_callbacks.cpp
  isobus/src/can_extended_transport_protocol.cpp
  isobus/src/can_network_manager.cpp
  isobus/src/can_protocol.cpp
  isobus/src/can_transport_protocol.cpp
  isobus/src/nmea2000_fast_packet_protocol.cpp
  isobus/src/nmea2000_message_interface.cpp
Labels: enhancement, iso: nmea 2000

#440 [Core]: Add destination control function to requests for repetition rate
  examples/pgn_requests/main.cpp
  isobus/include/isobus/isobus/can_callbacks.hpp
  isobus/src/can_parameter_group_number_request_protocol.cpp
Labels: enhancement, iso: application messages

#441 [Core]: Made preferred address optional
  isobus/include/isobus/isobus/can_internal_control_function.hpp
  isobus/src/can_address_claim_state_machine.cpp
  isobus/src/can_internal_control_function.cpp
  test/address_claim_tests.cpp
Labels: iso: data link

#434 Abyl/custom length
  isobus/include/isobus/isobus/can_message.hpp
  isobus/src/can_message.cpp
  test/CMakeLists.txt
  test/can_message_tests.cpp
Labels: enhancement
