Repository Open-Agriculture/AgIsoStack-plus-plus, pull requests merged in 2024-11, with the labels that each got.

#502 [WS]: Allow UTF-16 string variables to be deserialized
  isobus/src/isobus_virtual_terminal_working_set_base.cpp
Labels: enhancement, iso: virtual terminal

#503 [HW]: Fix some issues when compiling with MinGW
  hardware_integration/CMakeLists.txt
  hardware_integration/src/sys_tec_windows_plugin.cpp
Labels: os: windows

#501 Various Sonar Cleanup
  isobus/include/isobus/isobus/can_extended_transport_protocol.hpp
  isobus/include/isobus/isobus/can_network_manager.hpp
  isobus/include/isobus/isobus/can_partnered_control_function.hpp
  isobus/include/isobus/isobus/can_transport_protocol.hpp
  isobus/include/isobus/isobus/isobus_language_command_interface.hpp
  isobus/include/isobus/isobus/isobus_task_controller_server_options.hpp
  isobus/include/isobus/isobus/isobus_time_date_interface.hpp
  isobus/include/isobus/isobus/isobus_virtual_terminal_client.hpp
  isobus/include/isobus/isobus/isobus_virtual_terminal_server.hpp
  isobus/include/isobus/isobus/isobus_virtual_terminal_server_managed_working_set.hpp
  isobus/include/isobus/isobus/isobus_virtual_terminal_working_set_base.hpp
  isobus/src/can_NAME_filter.cpp
  isobus/src/can_extended_transport_protocol.cpp
  isobus/src/can_message.cpp
  isobus/src/can_network_manager.cpp
  isobus/src/can_partnered_control_function.cpp
  isobus/src/can_transport_protocol.cpp
  isobus/src/isobus_device_descriptor_object_pool.cpp
  isobus/src/isobus_diagnostic_protocol.cpp
  isobus/src/isobus_functionalities.cpp
  isobus/src/isobus_language_command_interface.cpp
  isobus/src/isobus_shortcut_button_interface.cpp
  isobus/src/isobus_task_controller_client.cpp
  isobus/src/isobus_task_controller_client_objects.cpp
  isobus/src/isobus_task_controller_server_options.cpp
  isobus/src/isobus_time_date_interface.cpp
  isobus/src/isobus_virtual_terminal_client.cpp
  isobus/src/isobus_virtual_terminal_server.cpp
  isobus/src/isobus_virtual_terminal_server_managed_working_set.cpp
  isobus/src/isobus_virtual_terminal_working_set_base.cpp
  test/core_network_management_tests.cpp
Labels: enhancement, ci/build system, unit tests

#507 Handle Change Size commands for OutputString objects too
  isobus/src/isobus_virtual_terminal_server.cpp
Labels: iso: virtual terminal
