Repository Open-Agriculture/AgIsoStack-plus-plus, pull requests merged in 2024-10, with the labels that each got.

#497 Tolerate excess bytes in picture graphic raw data when deserializing IOPs
  isobus/src/isobus_virtual_terminal_objects.cpp
Labels: bug, iso: virtual terminal

#400 Add VT Server
  generateArduinoLibrary.py
  isobus/CMakeLists.txt
  isobus/include/isobus/isobus/isobus_virtual_terminal_base.hpp
  isobus/include/isobus/isobus/isobus_virtual_terminal_objects.hpp
  isobus/include/isobus/isobus/isobus_virtual_terminal_server.hpp
  isobus/include/isobus/isobus/isobus_virtual_terminal_server_managed_working_set.hpp
  isobus/include/isobus/isobus/isobus_virtual_terminal_working_set_base.hpp
  isobus/src/can_message.cpp
  isobus/src/isobus_diagnostic_protocol.cpp
  isobus/src/isobus_language_command_interface.cpp
  isobus/src/isobus_shortcut_button_interface.cpp
  isobus/src/isobus_virtual_terminal_client.cpp
  isobus/src/isobus_virtual_terminal_objects.cpp
  isobus/src/isobus_virtual_terminal_server.cpp
  isobus/src/isobus_virtual_terminal_server_managed_working_set.cpp
  isobus/src/isobus_virtual_terminal_working_set_base.cpp
Labels: iso: virtual terminal

#499 [TC]: store reported by client version to use it later for DDOP parsing
  isobus/include/isobus/isobus/isobus_task_controller_server.hpp
  isobus/src/isobus_task_controller_server.cpp
Labels: iso: task controller
