Repository Open-Agriculture/AgIsoStack-plus-plus, pull requests merged in 2024-01, with the labels that each got.

#402 Enable caching for Python PIP
  .github/workflows/build.yml
  .github/workflows/linting.yml
  .github/workflows/pio.yml
Labels: ci/build system

#401 Bootstrap public api documentation in sphinx
  .readthedocs.yaml
  README.md
  doxyfile
  sphinx/.gitignore
  sphinx/requirements.txt
  sphinx/source/API Documentation.rst
  sphinx/source/Developer Guide.rst
  sphinx/source/Tutorials.rst
  sphinx/source/_static/custom.css
  sphinx/source/api/hardware/index.rst
  sphinx/source/api/index.rst
  sphinx/source/api/network/control functions.rst
  sphinx/source/api/network/index.rst
  sphinx/source/api/network/transport protocols.rst
  sphinx/source/api/task controller/client.rst
  sphinx/source/api/task controller/index.rst
  sphinx/source/api/task controller/server.rst
  sphinx/source/api/virtual terminal/client.rst
  sphinx/source/api/virtual terminal/index.rst
  sphinx/source/api/virtual terminal/objects.rst
  sphinx/source/api/virtual terminal/server.rst
  sphinx/source/conf.py
  sphinx/source/docutils.conf
  sphinx/source/index.rst
Labels: documentation

#404 [VT]: Add handling of unsupported VT function
  isobus/include/isobus/isobus/isobus_virtual_terminal_client.hpp
  isobus/src/isobus_virtual_terminal_client.cpp
Labels: enhancement, iso: virtual terminal

#410 [VT]: Refactor similar 'send_can_message' function calls to smaller alternative
  isobus/include/isobus/isobus/isobus_virtual_terminal_client.hpp
  isobus/src/isobus_virtual_terminal_client.cpp
Labels: iso: virtual terminal

#411 Github PR template
  .github/pull_request_template.md
Labels: documentation

#405 [VT]: add a numeric value tracker and updater for working sets of a VT client
  examples/virtual_terminal/version3_object_pool/main.cpp
  isobus/CMakeLists.txt
  isobus/include/isobus/isobus/can_message.hpp
  isobus/include/isobus/isobus/isobus_virtual_terminal_client.hpp
  isobus/include/isobus/isobus/isobus_virtual_terminal_client_state_tracker.hpp
  isobus/include/isobus/isobus/isobus_virtual_terminal_client_update_helper.hpp
  isobus/src/can_message.cpp
  isobus/src/isobus_virtual_terminal_client_state_tracker.cpp
  isobus/src/isobus_virtual_terminal_client_update_helper.cpp
Labels: enhancement, iso: virtual terminal

#409 Documentation update
  isobus/include/isobus/isobus/can_transport_protocol_base.hpp
  sphinx/README.md
  sphinx/images/concepts_1.png
  sphinx/images/concepts_2.png
  sphinx/source/Concepts.rst
  sphinx/source/Tutorials/The ISOBUS Hello World.rst
  sphinx/source/api/index.rst
  sphinx/source/api/network/transport protocols.rst
Labels: documentation

#415 [TC]: Add regex for updating values in DDI lookup table
  isobus/include/isobus/isobus/isobus_data_dictionary.hpp
  isobus/src/isobus_data_dictionary.cpp
  scripts/code_gen_ddi_database.py
Labels: iso: task controller

#412 [Core]: Add a reference for ISO and SAE preferred addresses
  isobus/CMakeLists.txt
  isobus/include/isobus/isobus/isobus_preferred_addresses.hpp
Labels: enhancement, iso: data link

#419 [ETP]: Fixed issues where we could CTS too many packets
  isobus/src/can_extended_transport_protocol.cpp
Labels: bug, iso: data link

#423 Add newline at EOF to .clang-format
  .clang-format
  .github/workflows/linting.yml
  examples/guidance/console_logger.cpp
  examples/virtual_terminal/aux_functions/console_logger.cpp
  examples/virtual_terminal/aux_inputs/console_logger.cpp
  examples/virtual_terminal/esp32_platformio_object_pool/src/console_logger.cpp
  examples/virtual_terminal/version3_object_pool/console_logger.cpp
  hardware_integration/include/isobus/hardware_integration/available_can_drivers.hpp
  hardware_integration/include/isobus/hardware_integration/socket_can_interface.hpp
  hardware_integration/include/isobus/hardware_integration/spi_transaction_frame.hpp
  hardware_integration/include/isobus/hardware_integration/virtual_can_plugin.hpp
  hardware_integration/src/can_hardware_interface.cpp
  hardware_integration/src/can_hardware_interface_single_thread.cpp
  hardware_integration/src/spi_transaction_frame.cpp
  isobus/include/isobus/isobus/isobus_guidance_interface.hpp
  isobus/src/can_NAME_filter.cpp
  test/can_name_tests.cpp
  test/event_dispatcher_tests.cpp
  test/helpers/messaging_helpers.cpp
  test/identifier_tests.cpp
  test/transport_protocol_tests.cpp
Labels: ci/build system

#414 Add vscode dev container
  .devcontainer/Dockerfile
  .devcontainer/devcontainer.json
  .devcontainer/reinstall-cmake.sh
Labels: enhancement, os: windows, os: linux, os: mac

#420 [Core]: Require complete message representation at construction time
  isobus/include/isobus/isobus/can_message.hpp
  isobus/include/isobus/isobus/can_network_manager.hpp
  isobus/include/isobus/isobus/nmea2000_fast_packet_protocol.hpp
  isobus/src/can_extended_transport_protocol.cpp
  isobus/src/can_message.cpp
  isobus/src/can_network_manager.cpp
  isobus/src/can_transport_protocol.cpp
  isobus/src/nmea2000_fast_packet_protocol.cpp
  test/cf_functionalities_tests.cpp
  test/core_network_management_tests.cpp
  test/diagnostic_protocol_tests.cpp
  test/guidance_tests.cpp
  test/helpers/control_function_helpers.cpp
  test/helpers/messaging_helpers.cpp
  test/helpers/messaging_helpers.hpp
  test/isb_tests.cpp
  test/language_command_interface_tests.cpp
  test/maintain_power_tests.cpp
  test/nmea2000_message_tests.cpp
  test/speed_distance_message_tests.cpp
  test/tc_client_tests.cpp
  test/transport_protocol_tests.cpp
  test/vt_client_tests.cpp
Labels: iso: data link

#406 [VT]: Add state tracker and updater for active masks
  examples/task_controller_client/section_control_implement_sim.cpp
  examples/virtual_terminal/esp32_platformio_object_pool/src/main.cpp
  examples/virtual_terminal/version3_object_pool/main.cpp
  isobus/include/isobus/isobus/can_constants.hpp
  isobus/include/isobus/isobus/can_message.hpp
  isobus/include/isobus/isobus/isobus_task_controller_client_objects.hpp
  isobus/include/isobus/isobus/isobus_virtual_terminal_client.hpp
  isobus/include/isobus/isobus/isobus_virtual_terminal_client_state_tracker.hpp
  isobus/include/isobus/isobus/isobus_virtual_terminal_client_update_helper.hpp
  isobus/include/isobus/isobus/isobus_virtual_terminal_objects.hpp
  isobus/src/can_message.cpp
  isobus/src/isobus_device_descriptor_object_pool.cpp
  isobus/src/isobus_task_controller_client_objects.cpp
  isobus/src/isobus_virtual_terminal_client.cpp
  isobus/src/isobus_virtual_terminal_client_state_tracker.cpp
  isobus/src/isobus_virtual_terminal_client_update_helper.cpp
  test/ddop_tests.cpp
  test/vt_client_tests.cpp
Labels: enhancement, iso: virtual terminal
