Repository Open-Agriculture/AgIsoStack-plus-plus, pull requests merged in 2025-01, with the labels that each got.

#531 iop parsing: make the PictureGraphic data size check less restricitve
  isobus/src/isobus_virtual_terminal_working_set_base.cpp
Labels: bug, iso: virtual terminal

#524 [TC]: Extending DDOP with binary object pool
  isobus/include/isobus/isobus/isobus_device_descriptor_object_pool.hpp
  isobus/src/isobus_device_descriptor_object_pool.cpp
Labels: enhancement, iso: task controller

#532 [VT-client]: refine replacement of already queued commands
  isobus/include/isobus/isobus/isobus_virtual_terminal_client.hpp
  isobus/src/isobus_virtual_terminal_client.cpp
Labels: enhancement, iso: virtual terminal

#536 Modifications to build cleanly for ESP32 using the ESP IDF component style structure
  CMakeLists.txt
  hardware_integration/CMakeLists.txt
Labels: os: esp-idf

#537 [TC]: Server not calling on_client_timeout function
  isobus/src/isobus_task_controller_server.cpp
Labels: bug
